* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
}

nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid #fff;
}

main {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  flex-wrap: wrap;
}

.product {
  width: 300px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  overflow: hidden;
}

.product:hover {
  transform: translateY(-10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.product img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease;
}

.product:hover img {
  transform: scale(1.1);
}

.product h2 {
  font-size: 24px;
  margin: 10px 0;
}

.product p {
  font-size: 16px;
  margin: 10px 0;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #444;
  transform: translateY(-3px);
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px;
  text-align: center


.product p {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

.product button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.product button:hover {
  background-color: #444;
  transform: translateY(-3px);
}

.product h2 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

  /* Estilos para o slider */
.slider {
    width: 100%;
    max-width: 600px; /* Defina a largura máxima que deseja para o slider */
    margin: 0 auto; /* Centraliza o slider na página */
}
.slider img {
    width: 100%; /* Garante que as imagens no slider se ajustem à largura do slider */
    height: auto; /* Mantém a proporção da imagem */
}

